<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio Vendedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card *ngIf="entradaActual">
      <ion-card-content>
        <p id="fechaTexto">{{entradaActual.fechaTexto}}</p>
        <ion-textarea rows="15" [(ngModel)]="entradaActual.texto">

        </ion-textarea>
        <ion-button expand="block" (click)="guardar(entradaActual)">Guardar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
