<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let producto of productos" [routerLink]="['/productos', producto.id]">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{producto.nameVend}}</ion-card-subtitle>
          <ion-card-title>{{producto.title}}</ion-card-title>
        <ion-img [src]="producto.imageURL"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <p>Cantidad disponible: {{producto.cantidad}} {{producto.unidadesRef}}</p>
          <p>Precio: {{producto.precio}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
